body{
    margin:0 ;
    text-align: center;
    font-family: 'Merriweather', serif;

}
.head{
    padding-top: 100px;
    background-color: #eaf6f6;
}
.cloud{
    
    position: relative;
    left: 20%;

}
.cloud2{
    
    position: absolute;
    left: 20%;
    

}
h1{
    font-family: 'Sacramento', cursive; 
    font-size: 500%;
    color: #1e836c;
    
    margin: 0 auto 0 auto;
}
h2{
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
}
h3{
    color: #1e836c;
    font-family: 'Montserrat', sans-serif;
}
.mid{
    padding-top: 50px;
    padding-bottom: 50px;
}
.mid2-skil{
    padding-top: 50px;
    padding-bottom: 50px;
}
.img{
    
    width: 200px;
    height: 200px;
    margin: auto;
    border-radius: 500px;
    contain: content;
}
.para{
    width: 40%;
    margin: auto;
    font-family: ;
    line-height: 25px;
    color: #40514E;
     font-weight: bold;
     
    
}

hr{
    
    border: 6px dotted #c5dcdc;
    border-bottom: transparent;
    border-spacing: 2px;
    width: 10%;
}

.para-s{
   text-align: justify;
   width: 805px;
   padding:0 20px 0 20px;
}
.para1{
    display: flex;
    flex-direction:row;
   width: 50%;
   height: 200px;
   padding-top: 50px;
   padding-bottom: 50px;
   margin: auto;
   line-height: 25px;
   color: #40514E;
    font-weight: bold;
   
    

 }

.sk2{
   border-radius: 600px;
   width:200px;
    position: relative;
    top:30px;

  
}
.btn {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #1b7f73;
    font-size: 20px;
    background: #3ea08a;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border-color:#1b7f73 ;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
footer{
    
    text-align: center;
    margin: auto;
    background-color:#66BFBF;
    height: 100px;
    position: relative;
    bottom: -15px;
    width:100%
    
}

.list{
    padding-top: 20px;
    text-align: center;
   
 
}
ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

li{
   
    list-style: none;
    padding-right: 40px;
    color: #1e836c;
}
a{
    text-decoration: none;
    color:#11999E;
}
.foot{
color: white;
font-family:'Montserrat', sans-serif;
font-size: small;
}

.para10{
    display: flex;
    flex-direction:row;
   width: 50%;
   
   padding-top: 50px;
   padding-bottom: 20px;
   margin: auto;
   line-height: 25px;
   color: #40514E;
    font-weight: bold;
   
    

 }
 .icon{
    position: relative;
    top:5px;
 }
 .img-nav{
     padding-left: 100%;


 }

 nav{

     display: flex;

     justify-content: space-around;
     
  
     background-color: rgba(243, 243, 243, 0.123);
     position: fixed;
     z-index: 2;
 }
 .nav-list{
    
     position: relative;
     top: 5%;
    
     

 }
 .sett{
    position: relative;
    left:150%

 }